{% extends 'base.html' %}

{% block container %}
<h1>Medical Privacy Matters</h1>

    <div class="">
        <h2>The information we collect about you</h2>
        <p class="left-with-margin"> In order to use our services, you agree to letting us collect, store, and analyze the following:</p>
        <ul>
            <li>Name</li>
            <li>Email</li>
            <li>IP address</li>
            <li>Video stream data</li>
            <li>Usage statistics</li>
        </ul>
        <p class="left-with-margin">Additionally, if you are a patient, you consent to sharing your history of medical conditions to us. If you are a doctor, you will also provide your credentials before being admitted to the platform.</p>
    </div>

    <div class="">
        <h2>What we use the data for</h2>
        <p class="left-with-margin"> We will use the data for the sole purposes of:</p>
        <ul>
            <li>Communicating about your visits</li>
            <li>Allowing peers to reach out to you</li>
            <li>Conveying the video</li>
            <li>Matching you to patients/doctors</li>
            <li>Improving our product</li>
        </ul>
    </div>

{% endblock %}
